<h3>League Table</h3>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Pos</th>
        <th scope="col">Team</th>
        <th scope="col">Pld</th>
        <th scope="col">W</th>
        <th scope="col">D</th>
        <th scope="col">L</th>
        <th scope="col">Pts</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of leagueData; let i = index">
        <th scope="row">{{i+1}}</th>
        <td>{{data.teamName}}</td>
        <td>{{data.played}}</td>
        <td>{{data.won}}</td>
        <td>{{data.draw}}</td>
        <td>{{data.lost}}</td>
        <td>{{data.points}}</td>
      </tr> 
    </tbody>
  </table>

  <pre>{{getLeagueData()}}</pre>

